.pokemon-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .Game-over {
    display: flex;
    color: black;
    border-radius: 10px;
    width: 100%;
    margin: 50px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    background-color: #FFFDD0;
  }
  
  .Game-over h2, h3 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .Game-over {
    display: grid;
    margin: 20px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  
  .Game-over button {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    background-color: #FFA12B;
    display: block;
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    padding: 5px 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .Game-over button:active {
    top: 10px;
    background-color: #F78900;
    -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .Game-over button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .pokemon-cards button {
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }
  
  .pokemon-cards button:hover {
    transform: translate(10px, 10px);
  }
  
  @media only screen and (max-width: 600px) {
    .pokemon-cards {
      margin-top: 20px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .pictures img {
      width: 80px;
      height: 80px;
    }
  
    .pictures p {
      font-size: 0.8rem;
    }
  
    .Game-over h2, h3{
      
      font-family: "Kanit", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    .Game-over {
      margin: 20px;
      padding: 20px;
    }
  
    .Game-over button {
      font-size: 24px;
      padding: 10px 15px;
      margin: 10px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .pokemon-cards {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .pictures img {
      width: 60px;
      height: 60px;
    }
  
    .pictures p {
      font-size: 0.7rem;
    }
  
    .Game-over {
      margin: 10px;
      padding: 10px;
    }
  
    .Game-over h2, h3{
      color: black;
      font-family: "Kanit", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    .Game-over button {
      font-size: 20px;
      padding: 8px 12px;
      margin: 5px;
    }
  }